<%- include('includes/head.ejs') %>
</head>
<body>
    
    <%- include('includes/navigation.ejs') %> 

    <main class="main-container">
        <h2>You're lost dear, please click one of the links in the sidenav</h2>
    </main>

<%- include('includes/end.ejs') %> 