<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/" class="main-header__item-link active">Add User</a>
                </li>
                <li class="main-header__item">
                    <a href="/users" class="main-header__item-link">View Users</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main-container">
        <form class="user-form">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            </div>
            <button>Add User</button>
        </form>
    </main>

</body>
</html>