
extends layouts/main-layout.pug

block content
    main.main-container
        h1 My Products
        if prods.length > 0
            .grid
                each product in prods
                    .card
                        span.card__title #{ product.title }
                        img.card__image(src="https://images.unsplash.com/photo-1598128558393-70ff21433be0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=422&q=80", alt="An Item")
                        span.card__price $1900
                        p.card__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, quaerat!
        else 
            h4 No products available at this time.
