body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-header {
    height: 56px;
    background-color: #d1ad37;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    margin: 0 1.5rem;
    padding: 0;
    display: flex;
    list-style: none;
}

.main-header__item {
    margin: 0 1rem;
}

.main-header__item a {
    color: white;
    text-decoration: none;
}

.main-header__item a:hover, .main-header__item a:active, .main-header__item a.active {
    cursor: pointer;
    color: rgb(37, 74, 175);
}

.main-container {
    padding: 1.5rem;
}

button {
    padding: 5px 25px;
    color: rgb(37, 74, 175);
    background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 4px;
    border: 1px solid rgb(37, 74, 175);
    transition: background-color .4s;
}

button:hover {
    color: white;
    background: rgb(37, 74, 175);
    cursor: pointer;
}