<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{ pageTitle }
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.main-header__item-link(href="/", class=(path === '/' ? 'active' : '')) Home
                    li.main-header__item
                        a.main-header__item-link(
                            href="/view-profile", class=(path === '/view-profile' ? 'active' : '')
                        ) View Profiles
                    li.main-header__item
                        a.main-header__item-link(
                            href="/add-profile", class=(path === '/add-profile' ? 'active' : '')
                        ) Add Profile

        block content