<%- include('../includes/head.ejs') %> 
<body>

    <%- include('../includes/navigation.ejs') %> 

    <main class="main-container">
        <h3>Admin Products</h3>
    </main>
    
<%- include('../includes/end.ejs') %> 