<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users.css">
    <title>Users Page</title>
</head>
<body>
    <h1>Users Page</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores corrupti, quidem porro voluptas facere voluptatibus. Voluptatibus officia assumenda doloremque eum quis minus saepe nemo? Numquam architecto eaque esse voluptates. Vel culpa, similique non modi iusto exercitationem repudiandae temporibus pariatur expedita? Illo adipisci rerum quod esse veritatis placeat expedita quaerat alias!
    </p>
</body>
</html>