* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body { margin: 0; padding: 0; }

.main-header {
    height: 70px;
    background-color: #0d7909;
}

.main-header__nav {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    padding: 0;
    list-style: none;
    display: flex;
    margin: auto 0;
}

.main-header__item {
    padding: 0 10px;
}

.main-header__item-link {
    color: white;
    text-decoration: none;
}

.main-header__item-link:hover, .main-header__item-link.active {
    color: #bb330a;
}

main.main-container {
    padding: 20px;
}
