<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title My Shop
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.main-header__item-link.active(href="/") My Shop
                    li.main-header__item
                        a.main-header__item-link(href="/admin/add-product") Add Product
        
        main.main-container
            h1 My Products
            ul
                li Product 1
                li Product 2
                li Product 3
                li Product 4